name: Rust

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]
    workflow_dispatch:

env:
    CARGO_TERM_COLOR: always

jobs:
    pleasebuild:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Cache dependencies
              uses: actions/cache/restore@v3
              id: restore-cache
              with:
                  path: |
                      ~/build
                  key: src-4.7.0-ubuntu-latesta

            - name: Build dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: ci/install.sh
              shell: bash

            - name: Save dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              uses: actions/cache/save@v3
              with:
                  path: |
                      ~/build
                  key: ${{ steps.restore-cache.outputs.cache-primary-key }}

            # - name: Install dependencies
            #   run: sudo make -j"$(nproc)" install
            #   shell: bash

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: armv7-unknown-linux-gnueabihf

            - name: Build project
              run: ci/run.sh
              shell: bash
